html{
  padding: 0;
  margin:0;
  font-family: verdana;
  }
  
  body {
      background-color: lightblue;
      padding: 0;
      margin:0;
    }
  /* SetupNav bar  */
    #nav-container{
      position: fixed;
      top: 0;
      right: 0;
      background-color: rgb(233, 75, 67);
      height: 4em;
      width:100%
    }
  
    #nav-ul{
      /* padding:10em; */
      display: inline-block;
    }