{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'myglobal.css' %}"> -->
    <title>Portafolio</title>
</head>
    <body>
        <main>

            <section id="section_navbar">
                    {% include "navbar.html" %}
            </section>
            <section id="section_introduction">
                {% include "introduction.html" %}

            </section>
            <section id="section_portfolio">
                {% include "portfolio.html" %}


            </section>
            <section id="section_cotacts">
                {% include "contacts.html" %}

            </section>
            <section id="section_footer">
                {% include "footer.html" %}
            </section>
        
        </main>
    </body>
</html>