html{
  padding: 0;
  margin:0;
  font-family: verdana;
  }
  
  body {
      background-color: lightblue;
      padding: 0;
      margin:0;
    }
  
  
  /* SetupNav bar  */
    #nav-container{
      position: fixed;
      top: 0;
      right: 0;
      background-color: rgb(233, 75, 67);
      height: 4em;
      width:100%;
      display: flex;
      justify-content: space-between;
    }
  
    #nav-ul{
      display: flex;
      justify-content:flex-end;
      align-items: center;
      list-style: none;
    }
    #nav-ul li{
      margin-left:1em;
      color: white;
      padding-right: 1em;
    }
  
    #nav-ul li a {
      color: white;
      text-decoration: none;
    }
  
  
    #nav-ul-2{
      display: flex;
      justify-content:flex-start;
      align-items: center;
      list-style: none;
      padding: 5px
    }
  
    #nav-ul-2 li{
      color: white;
  
    }
    #logo{
      max-width: 2em;
    }
  
  /* setup footer */
  
  #footer-container{
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: rgb(233, 75, 67);
    height: 4em;
    width:100%;
    display: flex;
    justify-content: space-between;
  }
  
  #footer-ul{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    list-style: none;
  }
  
  #footer-ul li{
    margin-left:1em;
    color: white;
    padding-right: 1em;
  }
  
  #footer-ul li a {
    color: white;
    text-decoration: none;
  }
  
  
  #footer-ul-2{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    list-style: none;
    padding: 5px
  }
  
  #footer-ul-2 li{
    color: white;
  }
  
  